# Python #
###########
# Byte-compiled / optimized / C extensions
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv
venv/
env/

# Project-specific #
####################
# Directory for generated figures
plots/

# IDE / Editor #
################
# VS Code
.vscode/